{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    brace-style: ["error", "1tbs", { "allowSingleLine": true }],
    "indent": [
      "warn",
       2,
       {
         "VariableDeclarator": { "var": 2, "let": 2, "const": 3 },
         "ObjectExpression": "first",
         "SwitchCase": 1
       }
    ],
    "keyword-spacing":         ["warn", { "before": true, "after": true }],
    "no-irregular-whitespace": ["error", {}],
    "no-trailing-spaces":      ["warn", {}],
    "object-curly-spacing":    ["warn", "always"],
    "space-before-blocks":     ["warn", "always"],
    "space-in-parens":         ["warn", "never"],
    "spaced-comment":          ["warn", "always"]
  }
}
