# Node
node_modules
yarn-error.log

# OS Garbage
.DS_Store
Thumbs.db
Desktop.ini

# Vim swapfiles
*.swp
*.swo

# Tags
.tags

# Binaries
dist/*

# Sensitive file
credentials.json
.deploycache

# NetSuite debugger
debugger/*.js
